<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title"><%= model.get('title') %></h4>
    </div>
    <div class="timeline-body">
        <p><%= model.get('body') %></p>
    </div>
</div>
