<a href="#">
    <div>
        <strong><%= get('name') %></strong>
        <span class="pull-right text-muted">
            <em><%= get('when') %></em>
        </span>
    </div>
    <div><%= get('message') %></div>
</a>
