<a href="#">
    <div>
        <strong><%= model.get('name') %></strong>
        <span class="pull-right text-muted">
            <em><%= model.get('when') %></em>
        </span>
    </div>
    <div><%= model.get('message') %></div>
</a>
